<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Cita Veterinaria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body>
    <div class="cuerpo">
        <div class="container" id="borderE">
            <h2 class="title">Asignar Cita Veterinaria
                <img src="../static/images/patitas.png" alt="patitas">
            </h2>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="petName">Nombre de la Mascota</label>
                            <input type="text" class="form-control" id="petName" placeholder="Nombre de la Mascota">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ownerName">Nombre del Dueño</label>
                            <input type="text" class="form-control" id="ownerName" placeholder="Nombre del Dueño">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="appointmentDate">Fecha de la Cita</label>
                            <input type="date" class="form-control" id="appointmentDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="appointmentTime">Hora de la Cita</label>
                            <input type="time" class="form-control" id="appointmentTime">
                        </div>
                    </div>
                </div>
                <center class="pt-4 sbt">
                    <button type="submit" class="btn btn-primary">Agendar Cita</button>
                </center>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>